.form-section {
  @include flex(center, column, center);
  background: $light-gray;
  font-size: $body;
  padding: 5rem 0rem;
  width: 100%;
  flex: 1 1 40rem;
  margin: 0 auto;

  select,
  button {
    cursor: pointer;
  }

  button {
    width: 100%;
    background: $green;
    color: $white;
    font-size: $body;
    padding: 2rem;
    margin: 1rem 0;
    margin-bottom: 4rem;

    &:hover {
      background: #c3d600;
    }
  }
  .form-section-header,
  input,
  label,
  select,
  button {
    max-width: 60rem;
  }
  form {
    width: 100%;
    padding: 2rem;
    @include flex(center, column, center);
  }
  label {
    // padding: 0 2rem;
    // background: cyan;
    width: 100%;
  }
  input,
  select {
    width: 100%;
    padding: 0.5rem;
    border: none;
    margin-bottom: 2rem;
  }

  select {
    padding: 1rem;
  }

  input {
    font-size: $body;
  }

  select {
    border-radius: 0;
    font-size: $body;
  }

  .form-section-header {
    @include flex(flex-start, column, center);

    a {
      text-decoration: none;
      color: $green;
    }
    h2 {
      color: $green;
      padding: 2rem;
    }
    p {
      padding: 2rem;
    }
  }
}

#lto {
  text-align: center;
  width: 100%;
}

.disclaimer {
  font-size: 1.2rem;
  padding: 0 2rem;
}

@media screen and (min-width: 900px) {
  .form-section {
    max-width: 600px;
    padding: 0;
    padding-bottom: 5rem;
  }
}
