.info-container {
  min-height: 60vh;

  .intro-section {
    min-height: 60vh;
    padding: 0 2rem;
    background: $white;
    video {
      width: 100%;
      min-height: 30vh;
      object-fit: cover;
      margin: 4rem 0;
      cursor: pointer;
    }
    .title {
      span {
        color: $green;
      }
    }
  }

  .info-container-header {
    min-height: 25vh;
    @include flex(center, row, center);
    h2 {
      background: rgba(239, 239, 239, 0.9);
      color: $green;
      padding: 2rem;
    }
  }

  .whitepaper-info {
    @include flex(flex-start, column, center);
    padding: 4rem;
    background: $white;

    li {
      font-size: $body;
      margin: 2rem 0;
    }
  }
  .bg {
    background-image: url("../img/circuit.png");
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 1000px) {
  .info-container {
    margin: 0 5rem;
    .info-container-header {
      min-height: auto;
      h2 {
        background: none;
      }
    }
  }
}
