* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #444444;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 100;
}

h1 {
  font-size: calc(3rem + 1vw);
}

h2 {
  font-size: calc(2.5rem + 1vw);
}

p,
li,
label,
input {
  font-size: calc(1.6rem + 1vw);
  font-weight: 300;
}

p,
li {
  line-height: 130%;
}

header,
footer {
  padding: 2rem;
}

footer {
  background: #222222;
}

footer h1 {
  font-size: 1.6rem;
  color: #777777;
}

header {
  min-height: 10vh;
  background: #ffffff;
}

header img {
  cursor: pointer;
}

header #logo-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  header #logo-desktop {
    display: block;
  }
  header #logo-mobile {
    display: none;
  }
}

.intro-section {
  min-height: 60vh;
  padding: 0 2rem;
  background: #ffffff;
}

.intro-section video {
  width: 100%;
  min-height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 4rem 0;
  cursor: pointer;
}

.intro-section .title span {
  color: #82bc00;
}

.form-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #efefef;
  font-size: calc(1.6rem + 1vw);
  padding: 5rem 0rem;
  width: 100%;
}

.form-section select,
.form-section button {
  cursor: pointer;
}

.form-section button {
  width: 100%;
  background: #82bc00;
  color: #ffffff;
  font-size: calc(1.6rem + 1vw);
  padding: 2rem;
  margin: 1rem 0;
  margin-bottom: 4rem;
}

.form-section button:hover {
  background: #c3d600;
}

.form-section form {
  width: 100%;
  padding: 2rem;
}

.form-section label {
  width: 100%;
}

.form-section input,
.form-section select {
  width: 100%;
  padding: 0.5rem;
  border: none;
}

.form-section select {
  padding: 1rem;
}

.form-section input {
  font-size: 1.8rem;
}

.form-section select {
  border-radius: 0;
}

.form-section .form-section-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-section .form-section-header h2 {
  color: #82bc00;
  padding: 2rem;
}

.form-section .form-section-header p {
  padding-bottom: 2rem;
}

.disclaimer {
  font-size: 1.2rem;
  padding: 0 2rem;
}

.info-container {
  min-height: 60vh;
}

.info-container .info-container-header {
  min-height: 25vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-container .info-container-header h2 {
  background: rgba(239, 239, 239, 0.9);
  color: #82bc00;
  padding: 2rem;
}

.info-container .whitepaper-info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  background: #ffffff;
}

.info-container .whitepaper-info li {
  font-size: calc(1.6rem + 1vw);
  margin: 2rem 0;
}

.info-container .bg {
  background-image: url("../img/circuit.png");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */