@import "./global";

//

header,
footer {
  padding: 2rem;
}

footer {
  background: $dark-gray;

  h1 {
    font-size: 1.6rem;
    color: #777777;
  }
}

header {
  min-height: 10vh;
  background: $white;

  img {
    cursor: pointer;
  }
  #logo-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    #logo-desktop {
      display: block;
    }
    #logo-mobile {
      display: none;
    }
  }
}

@import "./intro";
@import "./form";
@import "./whitepaper-info";
