.info-container {
  min-height: 60vh;
  flex: 1 1 50rem;

  .bg-white {
    background: $white;
    width: 100%;
  }

  .intro-section {
    padding: 4rem 2rem 0 2rem;
    background: $white;
    max-width: 600px;
    margin: 0 auto;

    video {
      width: 100%;
      min-height: 30vh;
      object-fit: cover;
      border: 2px solid $dark-gray;
      cursor: pointer;
      margin: 4rem 0;
    }

    .title {
      span {
        color: $green;
      }
    }
  }

  .info-container-header {
    min-height: 25vh;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;

    @include flex(center, row, center);
    h2 {
      background: rgba(239, 239, 239, 0.9);
      color: $green;
      padding: 2rem;
      margin: 2rem;
    }
  }

  .whitepaper-info {
    @include flex(flex-start, column, center);
    padding: 4rem 2rem;
    background: $white;
    max-width: 600px;
    margin: 0 auto;

    li {
      font-size: $body;
      margin: 2rem;
      //   list-style: none;
    }
  }
  .bg {
    background-image: url("../img/circuit.png");
    // background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .info-container {
    .info-container-header {
      min-height: 0;
      h2 {
        background: none;
        padding: 0 2rem 2rem 2rem;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .info-container {
    max-width: 600px;
    .info-container-header {
      min-height: auto;
      h2 {
        background: none;
      }
    }
  }
}
